<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>Diaries</title>
</head>

<body class="container" style="min-height: 100vh; display: flex; flex-direction: column;">
<header th:insert="section/header ::header" ></header>
<main class="min-h-screen" style="flex: 1 1 auto">
    <div class="w-1/3 bg-white p-8 border rounded shadow-md" style="display: flex; flex-direction: column; align-items: center">
        <h2 class="text-2xl mb-4">Update Diary</h2>
        <form th:action="@{/update/{id}(id=${journal.id})}" th:object="${journal}" method="post" style="display: flex; flex-direction: column; align-items:flex-end; width: 320px; flex-wrap: wrap">
            <div class="mb-4">
                <label for="title" class="block text-gray-700">Title:</label>
                <input type="text" id="title" th:field="*{title}" class="w-full px-3 py-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="text" class="block text-gray-700">Text:</label>
                <textarea id="text" name="text" th:field="*{text}" rows="4" class="w-full px-3 py-2 border rounded"></textarea>
            </div>
            <div class="mb-4">
                <label for="photoLink" class="block text-gray-700">Photo Link:</label>
                <input type="text" id="photoLink" th:field="*{photoLink}" class="w-full px-3 py-2 border rounded">
                <span th:if="${#fields.hasErrors('photoLink')}" th:errors="*{photoLink}" class="text-red-500" style="display: flex; flex-direction: column; align-items: center; margin-top: 10px; color: red"></span>
            </div>

            <button type="submit" class="bg-blue-500 px-4 py-2 rounded" style="margin-top: 20px">Update Diary</button>
        </form>
    </div>
</main>
<footer th:insert="section/footer ::footer"></footer>
</body>
</html>